.gameboard {
	display: grid;
	grid-template-rows: repeat(10, max-content);
	grid-template-columns: repeat(10, max-content);
	gap: 1px;
}

.disabled-gameboard {
	pointer-events: none;
	opacity: 0.4;
}
